.botones button {
    width: 66px!important;
    height: 38px!important;
}

.c-espe input {
    width: 80%;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: #000 1px solid;
}

.c-espe input::placeholder {
    color: #3a3939;
}

.c-espe input:focus {
    background: none;
}

.c-espe button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s;
}

.c-espe button:hover {
    background-color: #000;
    color: #fff;
}

.c-espe .datos {
    padding-left: 14em;
}

@media screen and (max-width:982px) {
    .c-espe .datos {
        padding-left: 10em;
    }
}@media screen and (max-width:768px) {
    .c-espe .datos {
        padding-left: 2em;
    }
}

.formulario-datos input {
    background: #d9d9d9;
    border-radius: 15px;
}

.formulario-datos input:focus {
    background: #d9d9d9;
}