.formulario-datos input, textarea {
    background: #d9d9d9!important;
    border-radius: 15px!important;
}

.formulario-datos button {
    width: 200px;
}

.formulario-datos input:focus {
    background: #d9d9d9;
}

.btn-outline-verde-contacto {
    background-color: #255f25bb!important;
    border-color: #255f25!important;

}