.videoHome {
    max-width: 100%;
}

.img-premio img {
    padding: 2em;
    width: 330px;
    height: 300px;
    border-radius: 50%;
}

.img-3 {
    padding: 3em!important;
}

.MuiSlider-root {
    color: red!important;
}

.premio{
    width: 120px;
    height: 120px;
    background: no-repeat center;
    background-image: url("./helper/premio.svg");
    margin: auto;
    color:transparent;
}