.videoHome {
    max-width: 100%;
}

.img-premio img {
    padding: 2em;
    width: 330px;
    height: 300px;
    border-radius: 50%;
}

.img-3 {
    padding: 3em!important;
}

.MuiSlider-root {
    color: rgba(37, 95, 37, 0.733)!important;
}

.premio {
    width: 120px;
    height: 120px;
    background: no-repeat center;
    background-image: url("../helper/premio.svg");
    margin: auto;
    color: transparent;
}

.premio-verde {
    width: 200px;
    height: auto;
    margin: auto;
}

.btn-outline-verde-home {
    background-color: #255f25bb!important;
    border-color: #255f25!important;
}

.logo-instagram i {
    color: #255f25bb!important
}

.texto_inicio {
    text-align: justify;
}

.texto_inicio p {
    margin: 8px;
}

.instagram-home {
    /*border-bottom: 1px #255f25 solid;*/
    transition: 0.5s;
    margin-left: 2px;
    color: #2f772f;
}

.instagram-home:hover {
    background-color: #255f25cc;
    border-radius: 12px;
    color: #fff;
}

.login-home {
    text-decoration: none;
    color: #ccc
}

.login-home:hover {
    text-decoration: none;
    color: #ccc
}