@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    font-family: 'Montserrat', sans-serif!important;
    background: #eaf0ea!important;
}

.nav-bg {
    background-color: #255f25bb!important;
}

.img-header {
    width: 20px;
}

.hr {
    width: 200px;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.header-link {
    text-decoration: none;
    color: #000;
}

.header-link:hover {
    text-decoration: none;
    color: #000;
}